#zombie{
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background: url(zombie.jpg) center no-repeat;
  background-size: 50%;
}

#zombie-health{
  width:400px;
  border: 2px solid red;
  margin: 0 auto 20px auto;
}

#zombie-health div{
  height: 20px;
  background: red;
}

#zombie.burst{
  background: url(die.jpg) center no-repeat;
  background-size: 50%;
}
